{% extends 'base.html' %} {% block content %}

<div class="jumbotron">
  <h1>{{ song.title }}!</h1>
  <p class="lead">&ndash; {{ song.artist }}</p>
</div>
<div class="list-container">
  <ul>
    {% if song.playlists %} This song is featured in the following playlists:{%
    for playlist in song.playlists %}
    <li><a href="/playlists/{{playlist.id}}">{{playlist.name}}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <a href="/playlists"
    >This song is not on any playlist! Click here to be the first.</a
  >
</div>
{% endif %} {% endblock %}
